<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order Now</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/nav-bar.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('./partials/_header.ejs') %>
    <header>
      <h2>PLACE NEW ORDER</h2>
    </header>
    <main class="new-order">
      <section class="order-menu">
        <table>
          <% for (let item of menu) { %>
          <form class="form-add-item">
            <tr>
              <td><%= item.name %></td>
              <td><%= item.description %></td>
              <td><%= item.price %></td>
              <input name="itemId" value="<%= item.id %>" type="hidden">
              <input name="itemName" value="<%= item.name %>" type="hidden">
              <input name="itemPrice" value="<%= item.price %>" type="hidden">
              <td><button class="add-item" type="submit">+</button></td>
            </tr>
          </form>
          <% } %>
        </table>
      </section>

      <section class="cart">
        <div class="cart-header">
          <h1>Cart</h1>
          <form action="api/cart/delete" method="POST">
            <button class="empty-cart" type="submit">Remove All</button>
          </form>
        </div>

        <div class="cart-items-container">
          <article class="item">
            <div class="about">
              <img
                src="https://dummyimage.com/100x100/ffe4c4/000000.jpg&text=espresso"
              />
              <h1 class="item-title">Espresso</h1>
            </div>
            <div class="mod-item">
              <div>$2.99</div>
              <div class="counter">
                <button class="decQ">-</button>
                <div class="count">2</div>
                <button class="incQ">+</button>
              </div>
              <form action="api/cart" method="POST">
                <button class="remove-item" type="submit">Remove</button>
              </form>
            </div>
          </article>
        </div>

        <form method="POST" action="api/orders">
          <button id="place-order" type="submit">
            <span>PLACE ORDER</span>
          </button>
        </form>
      </section>
    </main>
  </body>
</html>
