<!DOCTYPE html>
<html lang="en">
  <head>
    <title>All Orders</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/nav-bar.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('./partials/_header.ejs') %>
    <main>
      <h1>ALL ORDERS</h1>
    </main>
    <section class="card" id="orders-v">
      <table>
        <tr>
          <th>Order ID</th>
          <th>Customer ID</th>
          <th>Total</th>
          <th>Placed At</th>
          <th>Status</th>
        </tr>
        <% for (let order of orders) { %>
        <form class="form-add-item">
          <tr>
            <td><a href="/management/orders/:<%= order.id %>"><%= order.id %></a></td>
            <td><%= order.customer_id %></td>
            <td>$<%= order.total / 100%></td>
            <td>
              <%=order.created_at.getFullYear()
              %>-<%=order.created_at.getMonth() < 10?
              '0':''%><%=order.created_at.getMonth()
              %>-<%=order.created_at.getDate() < 10?
              '0':''%><%=order.created_at.getDate() %>
              <%=order.created_at.getHours() < 10?
              '0':''%><%=order.created_at.getHours()
              %>:<%=order.created_at.getMinutes() < 10?
              '0':''%><%=order.created_at.getMinutes() %>
            </td>
            <td><%= order.status %></td>
          </tr>
        </form>
        <% } %>
      </table>
    </section>
  </body>
</html>
