<!DOCTYPE html>
<html lang="en">
  <head>
    <title>All Orders</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/nav-bar.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('./partials/_header.ejs') %>
    <header></header>
    <main>
    <div class="bg-banner" id="stack-right"><img src="../images/ph-stack-bg.png" /></div>
      <h2>ALL ORDERS</h2>
      <section class="card" id="orders-v">
        <table>
          <tr>
            <th>ORDER ID</th>
            <th>CUSTOMER ID</th>
            <th>TOTAL</th>
            <th>PLACED</th>
            <th>COMPLETED</th>
            <th>STATUS</th>
          </tr>
          <% for (let order of orders) { %>
          <tr>
            <td>
              <a href="/management/orders/<%= order.id %>"
                ><%= String(order.id).padStart(4,'0') %></a
              >
            </td>
            <td><%= String(order.customer_id).padStart(4, '0') %></td>
            <td>$<%= order.total / 100%></td>
            <td class="date">
              <%=order.created_at.getFullYear()
              %>-<%=String(order.created_at.getMonth()).padStart(2,
              '0')%>-<%=String(order.created_at.getDate()).padStart(2, '0')%>
              <%=String(order.created_at.getHours()).padStart(2,
              '0')%>:<%=String(order.created_at.getMinutes()).padStart(2, '0')%>
            </td>
            <% if (order.status === "Completed") { %>
            <td class="date">
              <%= String(order.completed_at.getHours()).padStart(2,'0') %>:<%=
              String(order.completed_at.getMinutes()).padStart(2,'0') %>
            </td>
            <% } else { %>
            <td></td>
            <% } %>
            <td><%= order.status %></td>
          </tr>
          <% } %>
        </table>
      </section>
    </main>
  </body>
</html>
