<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order Details</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/nav-bar.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('./partials/_header.ejs') %>
    <main>
      <h2>ORDER <%= String(order.id).padStart(4,'0') %></h2>
    </main>
    <section class="order-card">
      <table class="order-details">
        <tr>
          <th>CUSTOMER ID</th>
          <th>TOTAL</th>
          <th>PLACED</th>
          <th>ACCEPTED</th>
          <th>COMPLETED</th>
          <th>STATUS</th>
        </tr>
        <tr>
          <td><%= String(order.customer_id).padStart(4, '0') %></td>
          <td>$<%= order.total / 100%></td>
          <!-- PLACED (PENDING)-->
          <td>
            <div class="date">
              <%=order.created_at.getFullYear()
              %>-<%=String(order.created_at.getMonth() + 1).padStart(2,
              '0')%>-<%=String(order.created_at.getDate()).padStart(2, '0')%>
            </div>
            <div class="time">
              <%=String(order.created_at.getHours()).padStart(2,
              '0')%>:<%=String(order.created_at.getMinutes()).padStart(2, '0')%>
            </div>
          </td>
          <!-- ACCEPTED (IN PROGRESS) -->
          <td>
            <% if (order.accepted_at) { %>
            <div class="date">
              <%=order.accepted_at.getFullYear()
              %>-<%=String(order.accepted_at.getMonth() + 1).padStart(2,
              '0')%>-<%=String(order.accepted_at.getDate()).padStart(2, '0')%>
            </div>
            <div class="time">
              <%=String(order.accepted_at.getHours()).padStart(2,
              '0')%>:<%=String(order.accepted_at.getMinutes()).padStart(2,
              '0')%> <% } %>
            </div>
          </td>
          <!-- COMPLETED -->
          <td>
            <% if (order.completed_at) { %>
            <div class="date">
              <%=order.completed_at.getFullYear()
              %>-<%=String(order.completed_at.getMonth() + 1).padStart(2,
              '0')%>-<%=String(order.completed_at.getDate()).padStart(2, '0')%>
            </div>
            <div class="time">
              <%=String(order.completed_at.getHours()).padStart(2,
              '0')%>:<%=String(order.completed_at.getMinutes()).padStart(2,
              '0')%> <% } %>
            </div>
          </td>
          <!-- STATUS -->
          <td>
            <div><%= order.status %></div>
            <% if (order.status === "In Progress" && order.estimated_end_time) { %>
            <div class="time">
              Est: <%=String(order.estimated_end_time.getHours()).padStart(2,
              '0')%>:<%=String(order.estimated_end_time.getMinutes()).padStart(2,
              '0')%>
            </div>
            <% } %>
          </td>
        </tr>
      </table>
      <table class="order-items">
        <tr>
          <th colspan="2">ORDER ITEMS</th>
        </tr>
        <% for (let item of orderItems) { %>
        <tr>
          <td class="quantity"><%= item.quantity %></td>
          <td><%= item.name %></td>
        </tr>
        <% } %>
        <tr>
          <td colspan="2" class="total">TOTAL: $<%= order.total / 100%></td>
        </tr>
      </table>
      <% if (order.status === "Pending") { %>
      <form class="vendor-actions">
        <span>TIME TO PICKUP:</span>
        <select name="est-time">
          <option value="5">5 minutes</option>
          <option value="10">10 minutes</option>
          <option value="15">15 minutes</option>
          <option value="20">20 minutes</option>
          <option value="25">25 minutes</option>
          <option value="30">30 minutes</option>
          <option value="35">35 minutes</option>
          <option value="40">40 minutes</option>
          <option value="45">45 minutes</option>
          <option value="50">50 minutes</option>
          <option value="55">55 minutes</option>
          <option value="60">60 minutes</option>
        </select>
        <button
          method="POST"
          action="/management/orders/<%= order.id %>/accept"
        >
          ACCEPT
        </button>
        <button
          method="POST"
          action="/management/orders/<%= order.id %>/reject"
        >
          REJECT
        </button>
      </form>
      <% } %>
    </section>
  </body>
</html>
